<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- No redireccionar las solicitudes a archivos estáticos -->
        <rule name="StaticContent">
          <action type="None" />
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|woff|woff2|ttf|eot))" />
        </rule>
        <!-- Redirigir todas las demás URL a dist/app.js -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="dist/app.js" />
        </rule>
        <!-- Redirigir de dominio raíz a www -->        <rule name="WWW Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^datainsight.com$" />
          </conditions>
          <action type="Redirect" url="http://www.datainsight.com/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Redirigir de HTTP a HTTPS -->
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?datainsight.com$" />
          </conditions>
          <action type="Redirect" url="https://www.datainsight.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <!-- Configurar iisnode -->
    <iisnode 
      nodeProcessCommandLine="node.exe"
      watchedFiles="*.js;web.config"
      loggingEnabled="true"
      logDirectory="iisnode" />
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Content-Security-Policy" value="default-src 'self' https://www.datainsight.com; script-src 'self' https://cdn.jsdelivr.net https://cdnjs.cloudflare.com https://www.googletagmanager.com 'unsafe-inline'; style-src 'self' https://cdnjs.cloudflare.com https://fonts.googleapis.com 'unsafe-inline'; font-src 'self' https://cdnjs.cloudflare.com https://fonts.gstatic.com; img-src 'self' data:; connect-src 'self'" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>